.row
  .small-8.small-centered.columns
    %nav.breadcrumbs
      %a{ :href => "/admin/global" } Settings
      %a.current{ :href => "/admin/global/params" } Params

.row
  .small-8.small-centered.columns
    - if flash.has?(:error)
      .alert-box.alert
        = flash[:error]
    - if flash.has?(:success)
      .alert-box.success
        = flash[:success]

.row
  .small-2.columns
    %ul.side-nav
      %li
        %a{ :href => "/admin/global/users"} Users
      %li
        %a{ :href => "/admin/global/transports"} Transports
      %li.active
        %a{ :href => "/admin/global/params"} Params
  .small-8.small-centered.columns
    %h2 Params
    %form{ :method => "POST", :action => "/admin/global/params_modify" }
      .row
        .small-12.columns
          %label Next UID
          %input{ :type => "text", :name => "next_uid", :value => @uid.value }
      .row
        .small-12.columns
          %label Next GID
          %input{ :type => "text", :name => "next_gid", :value => @gid.value }
      .row
        .small-12.columns
          %label
            Default mailbox format
            %select{ :name => "mailbox_format" }
              %option{ :value => "maildir", :selected => (@mailbox_format.value == "maildir") } Maildir
              %option{ :value => "mdbox", :selected => (@mailbox_format.value == "mdbox") } mdbox
              %option{ :value => "sdbox", :selected => (@mailbox_format.value == "sdbox") } sdbox
      .row
        .small-12.columns
          %input.button{ :type => "submit", :value => "Save changes" }
